.account-page
    margin-top: 50px
    margin-bottom: 100px
    
    .default-account
        display: block
        margin: 0 auto
        margin-bottom: 50px
        margin-top: 10px
        
    .account-page-actions
        text-align: center
        margin: 20px 0