.button
    position: relative
    display: inline-block
    box-sizing: border-box
    margin: 5px
    
    padding: 0.5em 3em
    
    color: rgba(black, 70%)
    font-family: "Roboto", sans-serif
    font-size: 18px
    font-weight: 600
    letter-spacing: 1px
    
    background: none
    border: 3px solid gray
    outline: none
    
    cursor: pointer
    
    &:focus
        border: 3px solid #29a2b5
        background: rgba(black, 5%)
    
    &:hover
        border: 3px solid #29a2b5
        background: rgba(#29a2b5, 20%)
        
    &.big
        font-size: 25px
        
    &.primary
        background: #29a2b5
        color: rgba(white, 90%)
        border-color: #1f8a9a
        
        &:focus
            border-color: #63c3d2
            background: #29a2b5
            
        &:hover
            border-color: #63c3d2
            background: #35b7cc