.menu
    background: #444
    box-shadow: 0 0 5px 0 rgba(black, 0.2)
    
    margin-bottom: 50px
    
.menu-wrapper
    display: flex
    margin: 0 10%

.menu-item
    flex-grow: 1
    padding: 10px 20px
    
    font-size: 20px
    color: #33c3da
    text-align: center
    font-family: "Roboto", sans-serif

    cursor: pointer
    
    &:hover
        background: #666
        