.overview-page
    margin-bottom: 100px
    
    .current-state
        margin-bottom: 50px
        
    .over-time
        position: relative
        width: 100%
        
        background: white
        box-shadow: 0 0 5px 0 rgba(black, 0.2)