.transaction-creator
    box-shadow: 0 0 5px 0 rgba(black, 0.2)
    background: white
    
    margin-bottom: 50px

    .row
        display: flex
        padding: 10px
        
        &:nth-child(even)
            background: #eee
        
        > .input-wrapper
            flex-grow: 1
            
.transaction-list
    margin-bottom: 100px